PORT=5000
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/microvison?maxPoolSize=5
JWT_SECRET=supersecretlongstring123_change_this
R2_ACCOUNT_ID=your-cloudflare-account-id
R2_ACCESS_KEY_ID=your-r2-access-key-id
R2_SECRET_ACCESS_KEY=your-r2-secret-access-key
R2_BUCKET_NAME=your-bucket-name
R2_PUBLIC_URL=https://pub-xxxxxx.r2.dev
BREVO_API_KEY=xkeysib-abc123
BREVO_SENDER_EMAIL=noreply@microvison.in
ADMIN_EMAIL_1=admin1@microvison.com
ADMIN_EMAIL_2=admin2@microvison.com
WATI_API_KEY=eyJhbGciOi...
WATI_BASE_URL=https://live-server-XXXX.wati.io
FRONTEND_URL=http://localhost:5173

# Meta WhatsApp Cloud API Config
WHATSAPP_TOKEN=EAAG...
WHATSAPP_PHONE_NUMBER_ID=1234567890...
WHATSAPP_TEMPLATE_COMPLAINT_RECEIVED=hello_world
WHATSAPP_TEMPLATE_SC_DETAILS=hello_world
WHATSAPP_TEMPLATE_COMPLAINT_SC=hello_world
WHATSAPP_TEMPLATE_REOPENED=hello_world
